.main-sidebar {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  position: absolute;
  user-select: none; 
}

.green-top {
  background-color: green;
  padding: 10px;
  color: #fff;
  min-height: 50px;
  overflow: auto;
  cursor: move;
  text-align: right;
  outline: none;
}

.gray-bottom {
  flex: 1;
  background-color: rgba(204, 204, 204, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gray-bottom label {
  width: 100%;
}

.gray-bottom input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  direction: rtl;
}

/* .green-button {
  
} */
