/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body,
html {
  margin: 0;
  padding: 0;
}

.wallpaper-container {
  background-image: url("../src/background-image/frequencies-bg.png");
  height: 100vh;
  width: 184vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
